.about-us {
  &__container {
    padding-top: 1.5*$pt;
    padding-bottom: 3*$pt;

    @media (max-width: 768px) {
      padding-top: .8*$pt;
      padding-bottom: 1.6*$pt;
    }

    @media (max-width: 475px) {
      padding-bottom: $pt;
    }
  }

  &__content {
    padding-top: 50px;
  }

  &__title,
  &__text {
    @media (max-width: 900px) {
      max-width: 300px;
    }

    @media (max-width: 768px) {
      max-width: 550px;
    }
  }

  &__photos {
    max-width: 450px;
    margin-left: 150px;

    @media (max-width: 1024px) {
      max-width: 350px;
      margin-left: 100px;
    }

    @media (max-width: 1023px) {
      max-width: 250px;
      margin-left: 0px;
      margin-right: 110px;
    }

    @media (max-width: 768px) {
      margin-right: 0;
      margin-top: 20px;
    }
  }
}